@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  header .menu {
    display: none;
  }

  header .logo__container {
    transform: none;
    margin: 0;
  }

  .header__list {
    display: flex;
    gap: 1rem;
  }

  .main__form .form__search {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    max-width: 800px;
    margin-inline: auto;
  }

  .main__form .search-btn {
    width: 300px;
    margin-inline: auto;
  }

  .footer__sections {
    flex-direction: row;
    justify-content: space-around;
  }
}
